<tr>
    <td>
        {{ .date }}
    </td>

    <td>
        <ul>
        {{ range .covers }}
            <li>{{ with .notes }}<a href="{{ absURL . }}">{{ end }}{{ .title }}{{ with .notes }}</a> {{ end }}</li>
        {{ end }}
        </ul>
    </td>

    <td>
        <ul>
        {{ range .prep }}
            <li>{{ with .link }}<a href="{{ absURL . }}">{{ end }}{{ .title }}{{ with .link }}</a>{{ end }}</li>
        {{ end }}
        </ul>
    </td>

    <td>
        <ul>
        {{ range .workdue }}
            <li>{{ with .link }}<a href="{{ absURL . }}">{{ end }}{{ .title }}{{ with .link }}</a>{{ end }}</li>
        {{ end }}
        </ul>
    </td>
</tr>
